<h2>General voting questions</h2>

<div id="accordion">
<h4 class="accordion_title">What are the important dates for the 2020 General Election in Florida?</h4>

<div class="attribute-answer accordion_content">
<p>Important dates are:</p>

<ul>
	<li>September 24, 2020: vote-by-mail ballots begin being mailed to voters. Start checking your mailbox for your ballot this week, if you are registered to vote by mail.</li>
	<li>October 1, 2020: All voters should receive their vote-by-mail ballot, if request is already on file.</li>
	<li>October 5, 2020: Deadline to register to vote. <strong>Note: If registering by mail, must be postmarked by October 5th.</strong></li>
	<li>October 24, 2020: Deadline to request a vote-by-mail ballot. <strong> Note: Must be received by this date at 5:00 pm local time, not postmarked. </strong></li>
	<li>October 24, 2020, to October 31, 2020: Early voting period for the 2020 General Election in Florida.&nbsp;<strong>Note: The Early voting period for Leon County is October 19th - November 1st.</strong></li>
	<li>October 27, 2020: Recommended deadline to mail vote-by-mail ballot. <strong> Note: It is recommended to mail your ballot a week before the General Election deadline, but not a requirement. Your vote-by-mail ballot must be received by November 3rd for it to be counted. Vote-by-mail ballots may also be dropped off without postage at <a href="https://www.leonvotes.gov/Voters/Early-Voting/Drop-boxes">Mail Ballot Drop Boxes</a></strong></li>
	<li>November 3, 2020: General Election in the United States. The polls will be open from 7:00 am to 7:00 pm. All ballots must be received by 7:00 pm local time. <strong>Note:</strong>&nbsp;<strong>If you are standing in line at 7:00 pm, you are still eligible to vote. Do not get out of line. </strong></li>
</ul>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">How do I register to vote?</h4>

<div class="attribute-answer accordion_content">
<ul>
	<li><a href="http://vote.fsu.acsitefactory.com/how-register-vote-person-or-mail">How to register in person or by mail. </a></li>
	<li>You can register to vote online on the <a href="https://studentvote.org/?source=FLSU_FSUVotes" target="_blank">StudentVote.org</a> website or the <a href="https://registertovoteflorida.gov/home">RegistertoVoteFlorida.gov</a> website.</li>
</ul>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">Am I eligible to vote?</h4>

<div class="attribute-answer accordion_content">
<p>To be eligible, you must:</p>

<ul>
	<li>Be a citizen of the United States of America,</li>
	<li>Be at least 18 years old,</li>
	<li>Not currently found&nbsp;mentally incapacitated to vote by a court,</li>
	<li>Not have been convicted of a felony without your voting rights restored.</li>
</ul>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">I'm an FSU student, but I am not 18. Can I still vote?</h4>

<div class="attribute-answer accordion_content">
<p>You are unable to vote until you turn 18. You can pre-register to vote if you are 16 or 17 years old, a United States citizen, and a resident of Florida. Visit <a href="https://registertovoteflorida.gov/home">Florida's official voter registration website</a> to pre-register.</p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">I'm an undocumented student at FSU. Can I register to vote?</h4>

<div class="attribute-answer accordion_content">
<p>No, undocumented students are not citizens of the United States and are ineligible to vote in elections.</p>
</div>
</div>

<h2>Voter registration questions</h2>

<div id="accordion">
<h4 class="accordion_title">I think I am registered to vote, but I can't remember. How do I check?</h4>

<div class="attribute-answer accordion_content">
<p>You can check your voter status online at <a herf="https://registration.elections.myflorida.com/CheckVoterStatus" href="https://registration.elections.myflorida.com/CheckVoterStatus"> Florida's voter information lookup website.</a></p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">If I register to vote, will I be called for jury duty?</h4>

<div class="attribute-answer accordion_content">
<p>The Department of Highway Safety and Motor Vehicles delivers the names of qualifying jurors in each county. Thus, registering to vote does not increase the likelihood of being called for jury duty, anymore than possessing a driver's license would.</p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">When and how do I update my voter registration?</h4>

<div class="attribute-answer accordion_content">
<p>You can update your registration at any time, but you should update it whenever any of the following changes:</p>

<ul>
	<li>Your name,</li>
	<li>Your signature,</li>
	<li>Your home or mailing address,</li>
	<li>Your political party affiliation.</li>
</ul>

<p>You can update your voter registration through the <a href="https://studentvote.org/?source=FLSU_FSUVotes">StudentVote.org </a> website or the <a href="https://registertovoteflorida.gov/home">RegistertoVoteFlorida.gov</a> website. You can also update&nbsp;<a href="http://vote.fsu.acsitefactory.com/how-register-vote-person-or-mail">in person or by mail</a>.</p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">I'm an incoming freshman at FSU, should I register to vote in Leon County or my hometown?</h4>

<div class="attribute-answer accordion_content">
<p>You should register where you will be living or consider your home on Election day, November 3, 2020.</p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">I am registered to vote in my hometown, but I want to vote in Leon County. How do I change my registration?</h4>

<div class="attribute-answer accordion_content">
<p>If you are registered to vote at a different address but want to vote at your FSU address, you can update your voter registration address at the&nbsp;<a href="https://studentvote.org/?source=FLSU_FSUVotes" target="_blank">StudentVote.org </a> website or the <a href="https://registertovoteflorida.gov/home">RegistertoVoteFlorida.gov</a> website.</p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">I want to vote in my hometown while living at FSU. How can I do this?</h4>

<div class="attribute-answer accordion_content">
<p>It's recommended to register in your current county so that you have access to a polling place and ensure you receive all relevant voting materials on time. However, students can register in whichever county they choose. If a student wishes to remain registered at their hometown address; we recommend selecting the vote by mail option at least 30 days before the next election and changing the mailing address on your voter registration form to your address at FSU. You can then vote in your hometown election through vote by mail.</p>
</div>
</div>

<h2>Vote by mail questions</h2>

<div id="accordion">
<h4 class="accordion_title">What is vote by mail?</h4>

<div class="attribute-answer accordion_content">
<p>Vote by mail is a voting method where a ballot that you request will be delivered to your home via the United States Postal Service. Vote-by-mail ballots are completed at home and returned either through the United States Postal Service or dropping off the ballot at an official ballot dropoff box. A voter must first register to vote and then can request a vote-by-mail ballot.&nbsp;Florida voters can request a vote-by-mail ballot <a href="https://www.leonvotes.gov/Request-a-Mail-Ballot">here.</a>&nbsp;Vote-by-mail ballots are currently recommended to all voters to increase safe voting and social distancing practices during the COVID-19 pandemic.</p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">When should I receive my vote-by-mail ballot?</h4>

<div class="attribute-answer accordion_content">
<p>Vote-by-mail ballots should be received by October 1st, if you already had a vote by mail request submitted. If you already submitted a request and didn't receive a ballot by October 1st, you should contact the Leon County Supervisor of Elections, <a herf="https://www.leonvotes.gov/" href="https://www.leonvotes.gov/About-Us/About-Us">here</a>. If you request a ballot after October 1st, your ballot will be mailed within two business days.</p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">How and when do I submit my vote-by-mail ballot?</h4>

<div class="attribute-answer accordion_content">
<p>Vote-by-mail ballots can be mailed through the United States Postal Service, dropped off at an official vote-by-mail dropbox, or dropped off at the <a herf="https://www.google.com/maps/place/Leon+County+Supervisor+of+Elections/@30.428291,-84.2309834,17z/data=!3m1!4b1!4m5!3m4!1s0x88ecf57aebcd1af9:0xd037b8b465d2c27c!8m2!3d30.4282864!4d-84.2287947" href="https://www.google.com/maps/place/Leon+County+Supervisor+of+Elections/@30.428291,-84.2309834,17z/data=!3m1!4b1!4m5!3m4!1s0x88ecf57aebcd1af9:0xd037b8b465d2c27c!8m2!3d30.4282864!4d-84.2287947"> Leon County Supervisor of Elections Office </a>&nbsp;as soon as completed. Vote-by-mail dropboxes are located at each <a herf="https://www.leonvotes.gov/Voters/Early-Voting/Early-Voting-Polls" href="https://www.leonvotes.gov/Voters/Early-Voting/Early-Voting-Polls"> Early voting site&nbsp;</a>during Early Voting hours. Vote-by-mail ballots cannot be dropped off at voting sites on Election day. However, you can choose to cancel your vote-by-mail ballot and vote with a regular ballot at the voting site. Vote-by-mail ballots must be received by Election Day, Tuesday, November 3, to be counted. It is recommended to mail your ballot by October 27, 2020.</p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">How do I track my Vote-by-mail ballot?</h4>

<div class="attribute-answer accordion_content">
<p>Vote-by-mail ballots can be tracked at <a herf="https://ballottrax.net/voter/" href="https://ballottrax.net/voter/"> Ballot Trax.</a></p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">I never received my Vote-by-mail ballot. Can I still vote?</h4>

<div class="attribute-answer accordion_content">
<p>Yes, if you are already registered to vote, you can vote in-person at a voting site.</p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">I registered for Vote by mail, but now I want to vote in-person. How can I do this?</h4>

<div class="attribute-answer accordion_content">
<p>If you registered for vote by mail and have already received your ballot, you can take it to your voting site and turn in the vote-by-mail ballot. The poll workers will invalidate your vote-by-mail ballot and allow you to vote in-person at their site. If you haven't received your ballot, you can still go to your voting site and vote with an in-person ballot. The poll workers will confirm that they have not received your vote-by-mail ballot. However, if it is confirmed that your vote-by-mail ballot has been received, you cannot vote a regular ballot at the polls.</p>
</div>
</div>

<h2>Voting in-person questions</h2>

<div id="accordion">
<h4 class="accordion_title">How do I vote early in-person in the 2020 General Election?</h4>

<div class="attribute-answer accordion_content">
<p>You can vote early in-person in Leon County from October 19 - November 1 at the following locations and times:</p>

<h5>FSU AND FAMU LOCATIONS:</h5>

<ul>
	<li>FSU Tucker Center (East Entrance)
	<ul>
		<li>505 W. Pensacola St Tallahassee FL 32301</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>FAMU Student Union Multi-Purpose Room C
	<ul>
		<li>1628 S Martin Luther King Jr. Blvd Tallahassee FL 32307-3104</li>
		<li>&nbsp;Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
</ul>

<h5>LEON COUNTY LOCATIONS:</h5>

<ul>
	<li>Dr. B.L. Perry Branch Library
	<ul>
		<li>2817 S. Adams St. Tallahassee FL 32301</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>Eastside Branch Library
	<ul>
		<li>1583 Pedrick Rd Tallahassee FL 32317</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>Fort Braden Community Center
	<ul>
		<li>16387 Blountstown Hwy Tallahassee FL 32310-1202</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>IVS Election Center
	<ul>
		<li>2990-1 Apalachee Pkwy Tallahassee FL 32301</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>Lake Jackson Community Center
	<ul>
		<li>3840 N Monroe St Tallahassee FL 32303</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>Leon County Courthouse Plaza Level
	<ul>
		<li>301 S. Monroe St Tallahassee FL 32301</li>
		<li>Hours of Operation: 8 am to 4 pm</li>
	</ul>
	</li>
	<li>Northeast Branch Library
	<ul>
		<li>5513 Thomasville Rd Tallahassee FL 32312</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>Woodville Community Center
	<ul>
		<li>8000 Old Woodville Rd Tallahassee FL 32305</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
</ul>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">Is it safe for me to vote in-person at a polling place during the COVID-19 pandemic?</h4>

<div class="attribute-answer accordion_content">
<p>Yes. The Leon County Supervisor of Elections has implemented a new set of voting guidelines that will protect the health of voters and election workers. <a herf="https://app.smartsheet.com/b/publish?EQBCT=b42ed920fc5743e0897695fa2eed69d9" href="https://app.smartsheet.com/b/publish?EQBCT=b42ed920fc5743e0897695fa2eed69d9"> Read the updated guidelines. </a></p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">What should I bring to vote?</h4>

<div class="attribute-answer accordion_content">
<p>You must bring a valid ID that includes a signature and a photo. Approved forms of ID include:</p>

<ul>
	<li>Florida Drivers License or Florida ID (as issued by the Department of Highway Safety and Motor Vehicles),</li>
	<li>United States Passport,</li>
	<li>Debit or Credit Card (with a photo on it),</li>
	<li>Military ID,</li>
	<li>Student ID,</li>
	<li>Retirement Center ID,</li>
	<li>Neighborhood Association ID,</li>
	<li>Public Assistance ID,</li>
	<li>Veteran Health ID issued by the United States Department of Veterans Affairs,</li>
	<li>A Concealed Weapon/Firearm License issued pursuant to §790.06, F.S.,</li>
	<li>Employee ID issued by any branch, department, agency, or entity of the Federal Government, the state, a county, or a municipality,</li>
</ul>

<p>If you do not bring ID to the polls, you can still vote a provisional ballot.&nbsp;Your ballot will count if the signature on your ballot matches the signature on your voter registration record.</p>

<p>You should also bring a mask or other form of face covering if you will be voting in-person.</p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">Do I have to vote at the voting site on my registered voter card?</h4>

<div class="attribute-answer accordion_content">
<p>If you are voting early or dropping off at vote-by-mail ballot you can use any of the <a href="https://www.leonvotes.gov/Voters/Early-Voting/Early-Voting-Polls">Leon County voting sites</a>. If you are voting on election day, November 3, you <strong>must</strong> vote at your assigned voting site. This can be found on your registered voter card or the <a herf="https://registration.elections.myflorida.com/CheckVoterStatus" href="https://registration.elections.myflorida.com/CheckVoterStatus"> Florida Voter Information Lookup&nbsp;</a>website.</p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">How do I vote in-person at FSU?</h4>

<div class="attribute-answer accordion_content">
<p>FSU will host a voting site at the FSU Tucker Center (East Entrance) 505 W. Pensacola St Tallahassee FL 32301. The site will be available for early voting from October 19 - November 1 from 10 am to 6 pm. You can either vote in-person or drop-off a vote-by-mail ballot at any time during those dates and operating hours.</p>
</div>
</div>

<div id="accordion">
<h4 class="accordion_title">I missed the October 5th registration deadline, can I still vote?</h4>

<div class="attribute-answer accordion_content">
<p>No, Florida does not offer same-day registration or conditional voter registration.</p>
</div>
</div>

<h2>More information</h2>

<div id="accordion">
<h4 class="accordion_title">Where can I access more information about voting?</h4>

<div class="attribute-answer accordion_content">
<h5>Leon County</h5>

<ul>
	<li><a herf="https://www.leonvotes.gov/" href="https://www.leonvotes.gov/">Leon Votes </a></li>
</ul>

<h5>State of Florida</h5>

<ul>
	<li><a herf="https://dos.myflorida.com/elections/for-voters/" href="https://dos.myflorida.com/elections/for-voters/">Florida Department of State </a></li>
	<li><a herf="https://www.vote.org/state/florida/" href="https://www.vote.org/state/florida/">Florida Votes </a></li>
</ul>

<h5>United States of America</h5>

<ul>
	<li><a herf="https://www.planyourvote.org/" href="https://www.planyourvote.org/">Plan Your Vote</a></li>
	<li><a herf="https://studentvote.org/" href="https://studentvote.org/">Student Vote </a></li>
	<li><a herf="https://www.rockthevote.org/" href="https://www.rockthevote.org/">Rock the Vote </a></li>
	<li><a herf="https://www.lwv.org/" href="https://www.lwv.org/">The League of Women Voters </a></li>
</ul>
</div>
</div>
