<h2>Voting early?</h2>

<p>You can vote early in-person or dropoff a vote-by-mail ballot in Leon County from October 19 - November 1 at the following locations and times:</p>

<p><a href="https://www.leonvotes.gov/Voters/Early-Voting/Early-Voting-Polls">Check early voting location status</a></p>

<h5>FSU and FAMU Locations:</h5>

<ul>
	<li>FSU Tucker Center (East Entrance)
	<ul>
		<li>505 W. Pensacola St Tallahassee FL 32301</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>FAMU Student Union Multi-Purpose Room C
	<ul>
		<li>1628 S Martin Luther King Jr. Blvd Tallahassee FL 32307-3104</li>
		<li>&nbsp;Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
</ul>

<h5>Leon County Locations:</h5>

<ul>
	<li>Dr. B.L. Perry Branch Library
	<ul>
		<li>2817 S. Adams St. Tallahassee FL 32301</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>Eastside Branch Library
	<ul>
		<li>1583 Pedrick Rd Tallahassee FL 32317</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>Fort Braden Community Center
	<ul>
		<li>16387 Blountstown Hwy Tallahassee FL 32310-1202</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>IVS Election Center
	<ul>
		<li>2990-1 Apalachee Pkwy Tallahassee FL 32301</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>Lake Jackson Community Center
	<ul>
		<li>3840 N Monroe St Tallahassee FL 32303</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>Leon County Courthouse Plaza Level
	<ul>
		<li>301 S. Monroe St Tallahassee FL 32301</li>
		<li>Hours of Operation: 8 am to 4 pm</li>
	</ul>
	</li>
	<li>Northeast Branch Library
	<ul>
		<li>5513 Thomasville Rd Tallahassee FL 32312</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
	<li>Woodville Community Center
	<ul>
		<li>8000 Old Woodville Rd Tallahassee FL 32305</li>
		<li>Hours of Operation: 10 am to 6 pm</li>
	</ul>
	</li>
</ul>

<h2>Voting on election day, November 3rd?</h2>

<p>If you are voting on November 3rd, you must vote at your assigned voting site. This can be found on your voter registration card or the <a href="https://registration.elections.myflorida.com/CheckVoterStatus">Florida Voter Information Lookup website</a>.</p>
