<p><meta name="viewport" content="width=device-width, initial-scale=1"></p>
<style type="text/css">* { /* style starts */
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1200px) {
  .row, .column {
    width: 100%;
  }
}
#ballot1, #ballot2{
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 4px;
  height: 1000px;
  background-color: #dacaa6;
}
#ballot3, #ballot4 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 4px;
  height: 1100px;
  background-color: #dacaa6;
}
#ballot5, #ballot6 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 4px;
  height: 650px;
  background-color: #dacaa6;
}
.myBtn_multi {
  background-color: #161514;
  color: white;
  border: 2px solid #161514;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.myBtn_multi:hover {
  background-color: #161514; 
  color: white;
  border: 2px solid #161514;
  transform: scale(1.2);
}
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
<h2>Florida Ballot Initiatives</h2>

<p>The following summaries include statewide constitutional amendments, but your ballot may include additional local initiatives depending on where you are registered to vote. To learn more about local initiatives or to find measures from other states, please visit the resource at the bottom of the page.</p>

<div class="row">
<div class="column">
<div id="ballot1">
<h4>No. 1 Constitutional Amendment, Article VI, Section 2</h4>

<p><em>Citizenship Requirement to Vote in Florida Elections</em></p>

<p>“This amendment provides that only United States Citizens who are at least eighteen years of age, a permanent resident of Florida, and registered to vote, as provided by law, shall be qualified to vote in a Florida election.</p>

<p>Because the proposed amendment is not expected to result in any changes to the voter registration process in Florida, it will have no impact on state or local government costs or revenue. Further, it will have no effect on the state’s economy.”</p>

<p><strong>YES/NO</strong></p>

<ul>
	<li>A “yes” vote supports amending the Florida Constitution to state that “only a citizen” of the U.S. who is 18 years old or older can vote in Florida.</li>
	<li>A “no” vote opposes amending the Florida Constitution, thus keeping the existing language that says “every citizen” of the U.S. who is 18 years old or older can vote in Florida.</li>
</ul>

<p>A 60% favorable vote is required for approval.<br />
&nbsp;</p>

<p><button class="myBtn_multi">More Information</button></p>

<div class="modal modal_multi">
<div class="modal-content"><span class="close close_multi">×</span>

<p>&nbsp;</p>

<p><strong>Helpful Information</strong></p>

<p>The current language of Article VI, Section 2 of the Florida Constitution reads: “Every citizen of the United States who is at least eighteen years of age and who is a permanent resident of the state, if registered as provided by law, shall be an elector of the county where registered.”</p>

<p>Florida voting registration law (FL statute 97.041, point 1, subpoint a):</p>

<p>“A person may become a registered voter only if that person:</p>

<ol>
	<li>Is at least 18 years of age;</li>
	<li>Is a citizen of the United States;</li>
	<li>Is a legal resident of the State of Florida;</li>
	<li>Is a legal resident of the county in which that person seeks to be registered; and</li>
	<li>Registers pursuant to the Florida Election Code.”</li>
</ol>

<p><strong>Support/Opposition</strong></p>

<p>According to Ballotpedia.org, the ballot initiative is <strong>supported</strong> by the Florida Citizen Voters and Citizen Voters, Inc. In an argument of support for state-level Citizen Voters Amendments across the country, John Loudon, the National Chairman of Citizen Voters stated the existing “inclusive language tells us who can vote, but not who can’t vote. That’s why we need the Citizen Voters Amendment.”</p>

<p>The initiative is <strong>opposed</strong> by the League of Women Voters of Florida, who stated, “Amendment 1 would make no substantive change to Florida’s constitution, which already limits voting to US citizens.”</p>
</div>
</div>
</div>

<p>&nbsp;</p>

<div id="ballot3">
<h4>No. 3 Constitutional Amendment, Article VI, Section 5</h4>

<p><em>All Voters Vote in Primary Elections for State Legislature, Governor, Cabinet</em></p>

<p>“Allows all registered voters to vote in primaries for state legislature, governor, and cabinet regardless of political party affiliation. All candidates for an office, include party nominated candidates, appear on the same primary ballot. Two highest vote getters advance to general election. If only two candidates qualify, no primary is held and winner is determined in general election. Candidate’s party affiliation may appear on ballot as provided by law. Effective January 1, 2024.</p>

<p>It is probable that the proposed amendment will result in additional local government costs to conduct elections in Florida. The Financial Impact Estimating Conference projects that the combined costs across counties will range from $5.2 million to $5.8 million for each of the first three election cycles occurring in even-numbered years after the amendment’s effective date, with the costs for each of the intervening years dropping to less than $450,000. With respect to state costs for oversight, the additional costs for administering elections are expected to be minimal. Further, there are no revenues linked to voting in Florida. Since there is no impact on state costs or revenues, there will be no impact on the state’s budget. While the proposed amendment will result in an increase in local expenditures, this change is expected to be below the threshold that would produce a statewide economic impact.”</p>

<p><strong>YES/NO</strong></p>

<ul>
	<li>A “yes” votes supports establishing a top-two open primary system for primary elections for state legislators, the governor, and cabinet (attorney general, chief financial officer, and commission of agriculture) in Florida.</li>
	<li>A “no” vote opposes establishing a top-two open primary system for primary elections, thereby leaving in place Florida’s current system where closed primaries are held by each party.</li>
</ul>

<p>A 60% favorable vote is required for approval.</p>

<p><button class="myBtn_multi">More Information</button></p>

<div class="modal modal_multi">
<div class="modal-content"><span class="close close_multi">×</span>

<p>&nbsp;</p>

<p><strong>Helpful Information</strong></p>

<p>According to the Florida Department of State, there are two cases, outlined by the Florida Department of State, where all registered voters can vote in a primary election:</p>

<p>Further, the Florida Department of State’s website reads, “Florida is (currently) a closed primary election state. Only voters who are registered members of political parties may vote for respective party candidates or nominees for an office in a primary election…” As of August 31, 2020 the Florida Department of State reported 14,065,627 registered voters in Florida, 10,223,994 affiliated with the major parties, 188,587 with minor parties, and 3,653,046 with no-affiliation.</p>

<p>Washington state adopted a top-two open primary system in 2004, California did so in 2010. Other states feature open primaries, each with their own features – such as Nebraska who also hosts a top-two open primary for state legislative election, however Nebraska’s state legislature is non-partisan, meaning the open-nature of the primary is necessitated by the lack of parties. In 14 states, and the District of Columbia, at least one political party conducts a closed primary election.</p>

<ol>
	<li>“If all the candidates for an office have the same party affiliation and the winner of the primary election will not face any opposition in the general election (i.e. no write-in candidates have qualified), then all registered voters can vote for any of the candidates for that office in the primary election.”</li>
	<li>“If races for nonpartisan (i.e., free from party affiliation) judicial and school board offices, nonpartisan special districts or local referendum questions are on the primary election ballot, then all registered voters, including those without party affiliation are entitled to vote on those races on the ballot.”</li>
</ol>

<p><strong>Support/Opposition</strong></p>

<p>According to Ballotpedia.com, the ballot initiative is <strong>supported</strong> by All Voters Vote, Inc., the organization Florida Fair and Open Primaries, as well as the organization Open Primaries. In an argument of support All Voters Vote stated, “Allowing all qualified registered voters to vote in taxpayer-funded elections will not impact the existence of political parties nor will it hurt voters who enjoy belonging to a political party. Parties will still have all the rights they currently have- as they should. This initiative will allow parties to operate as they always have with one notable exception: in taxpayer-funded public elections, they cannot exclude qualified registered voters from voting.”</p>

<p>The initiative is <strong>opposed</strong> by the Democratic Party of Florida, the Republican Party of Florida, the Green Party of Florida, the Florida AFL-CIO, the Florida Conservation Voters, the League of Women Voters of Florida, Organize Florida, the Florida Chamber of Commerce, Florida People’s Advocacy Center, the NAACP of Florida, and the organization People Over Profits. In their opposition, People Over Profits stated, “An unforeseen outcome of this proposal is the loss of minority representation… The amendment would all but eliminate third parties from competing in the November general election.”</p>
</div>
</div>
</div>

<p>&nbsp;</p>

<div id="ballot5">
<h4>No. 5 Constitutional Amendment, Article VII, Section 4 and Article XII</h4>

<p><em>Limitations on Homestead Property Tax Assessments; increased portability period to transfer accrued benefit</em></p>

<p>“Proposing an amendment to the State Constitution, effective January 1, 2021, to increase, from 2 years to 3 years, the period of time during which accrued Save-Our-Homes benefits may be transferred from a prior homestead to a new homestead.”</p>

<p><strong>YES/NO</strong></p>

<ul>
	<li>A “yes” vote supports extending the period during which a person may transfer Save Our Homes benefits to a new homestead property from two years to three years.</li>
	<li>A “no” vote opposes extending the period during which a person may transfer Save Our Homes benefits to a new homestead property from two to three years.</li>
</ul>

<p>A 60% favorable vote is required for approval.<br />
&nbsp;</p>

<p><button class="myBtn_multi">More Information</button></p>

<div class="modal modal_multi">
<div class="modal-content"><span class="close close_multi">×</span>

<p>&nbsp;</p>

<p><strong>Helpful Information</strong></p>

<p>According to Ballotpedia.org, “Homesteads, or primary residences, are subject to property taxes in Florida, which must be assessed at just value, except that every primary residence is eligible for a $25,000 homestead exemption. Another $25,000 homestead exemption is applied to homesteads that have an assessed value of more than $50,000 up to $75,000. The homestead exemption reduces the taxable value of a property.</p>

<p>Amendment 10 of 1992, a citizen initiative known as the ‘Save Our Homes amendment,’ limited homestead property valuation increases for homes receiving a homestead exemption to a maximum of 3% annually. The difference between the just value and the assessed value is referred to as the Save Our homes (SOH) benefit.”</p>

<p>The ‘Save Our Homes’ amendment, which capped annual assessed value increases (3%), was supported as a means of preventing owners from being taxed out of their homes when the market escalated (taxable property value increased rapidly, provided there are no ownership changes or property improvements). Via Point 8, Section 4, Article VII of the Florida Constitution, accrued SOH benefits are currently transferable for up to two years: “A person who establishes a new homestead as of January 1, 2009, or any January 1 of any subsequent year and who has received a homestead exemption pursuant to Section 6 of this Article as of January 1 of any either of the two years immediately preceding the establishment of the new homestead is entitled to have the new homestead assessed at less than just value.” If passed, the language specific to 2008 would be removed and “either of the two years immediately preceding” would be amended (strike and replace) to read “any of the three years immediately preceding.”</p>

<p><strong>Support/Opposition</strong></p>

<p>The amendment was legislatively initiated, with <strong>sponsorship</strong> by Florida Representative Rick Roth (R) before being unanimously passed in both chambers of the Florida legislature. The Tampa Bay Times Editorial Board provides support, “Someone could easily miss out by selling a home late in the year and then building a new home that isn’t finished by New Year’s of the year after next – in other words, after only a year and a few days had passed… This simple change means that the Constitution would reflect what (1992) voters intended, that homeowners could take their exemption with them for two full years or more – and not lost it in the space of a year and a few days.”</p>

<p>The League of Women Voters of Florida stated their <strong>opposition</strong>, “[Amendment 5 would] reduce property tax revenue available for funding local schools and other services like police, fire, and infrastructure; add tax law to the Florida Constitution making it difficult to alter in response to change or emergency economic conditions; and limit the ability of local governments to control their budgets based on their county needs.”</p>
</div>
</div>
</div>
<!-- ends column --></div>
<!--new column -->

<div class="column">
<div id="ballot2">
<h4>No. 2 Constitutional Amendment, Article X, Section 24</h4>

<p><em>Raising Florida's Minimum Wage</em></p>

<p>“Raises minimum wage to $10.00 per hour effective September 30th, 2021. Each September 30th thereafter, minimum wage shall increase by $1.00 per hour until the minimum wage reaches $15.00 per hour on September 30th, 2026. From that point forward, future minimum wage increases shall revert to being adjusted annually for inflation starting September 30th, 2027.</p>

<p>State and local government costs will increase to comply with the new minimum wage levels. Additional annual wage costs will be approximately $16 million in 2022, increasing to about $540 million in 2027 and thereafter. Government actions to mitigate these costs are unlikely to produce material savings. Other government costs and revenue impacts, both positive and negative are not quantifiable.</p>

<p>THIS PROPOSED CONSTITUTIONAL AMENDMENT IS ESTIMATED TO HAVE A NET NEGATIVE IMPACT ON THE STATE BUDGET. THIS IMPACT MAY RESULT IN HIGHER TAXES OR A LOSS OF GOVERNMENT SERVICES IN ORDER TO MAINTAIN A BALANCED BUDGET AS REQUIRED BY THE FLORIDA CONSTITUTION.”</p>

<p><strong>YES/NO</strong></p>

<ul>
	<li>A “yes” vote supports the initiative to increase the state’s minimum wage incrementally until reaching $15 per hour in September 2026.</li>
	<li>A “no” vote opposes the initiative to increase the state’s minimum wage incrementally until reaching $15 in September 2026, thereby keeping the current minimum wage of $8.46 per hour.</li>
</ul>

<p>A 60% favorable vote is required for approval.</p>

<p><button class="myBtn_multi">More Information</button></p>

<div class="modal modal_multi">
<div class="modal-content"><span class="close close_multi">×</span>

<p>&nbsp;</p>

<p><strong>Helpful Information</strong></p>

<p>The current language of Article X, Section 24 (point C) of the Florida Constitution reads: “MINIMUM WAGE. Employers shall pay Employees Wages no less than the Minimum Wage for all hours worked in Florida. Six months after enactment, the Minimum Wage shall be established at an hourly rate of $6.15. On September 30 of that year and on each following September 30, the state Agency for Workforce Innovation shall calculate an adjusted Minimum Wage rate by increasing the current Minimum Wage rate by the rate of inflation during the twelve months prior to each September 1 using the consumer price index for urban wage earners and clerical workers, a CPI-W, or a successor index as calculated by the United States Department of Labor. Each adjusted Minimum Wage rate calculated shall be published and take effect on the following January 1. For tipped Employees meeting eligibility requirements for the tip credit under the FLSA, Employers may credit toward satisfaction of the Minimum Wage tips up to the amount of the allowable FLSA tip credit in 2003.”</p>

<p>If passed, the sentence: “Effective September 30, 2021, the existing state Minimum Wage shall increase to $10.00 per hour, and then increase each September 30 thereafter by $1.00 per hour, until the Minimum Wage reaches $15.00 per hour on September 30, 2026.” would be added after the $6.15 wage (as set in 2004 and adjusted annually since). It would also amend (strike and replace) the words “that year” following the first mentioning of September 30 to be “2027.”</p>

<p><strong>Support/Opposition</strong></p>

<p>According to Ballotpedia.com, the ballot initiative is <strong>supported</strong> by Florida for a Fair Wage, the Florida AFL-CIO (American Federation of Labor and Congress of Industrial Organizations), Organize Florida, and the League of Women Voters of Florida. In an argument of support Florida for a Fair Wage stated, “Florida needs to pass the Fair Wage Amendment to ensure that all hard-working Floridians can receive a living wage. The ‘living wage’ is the minimum cost that covers the basic needs of an individual and the needs of their family without government assistance. Florida’s minimum wage of $8.46 – or $17,600 per year – for a full-time employee is not a livable wage for many of the 200,000 hard-working Floridians that earn it, especially those working to support a family.”</p>

<p>The initiative is <strong>opposed</strong> by Save Florida Jobs, Inc. and the Florida Restaurant and Lodging Association. Amendment 2 Hurts You, a campaign supported by Save Florida Jobs, Inc. stated, “Amendment 2 results in less opportunity for young workers just getting their start or immigrant workers trying to build a new life here in Florida. Worse, Amendment 2 will cause prices to rise sharply, driving up the cost of living for middle-class families who already earn over $15 an hour and seniors on a fixed income.”</p>
</div>
</div>
</div>

<p>&nbsp;</p>

<div id="ballot4">
<h4>No. 4 Constitutional Amendment, Article XI, Sections 5 and 7</h4>

<p><em>Voter Approval of Constitutional Amendments</em></p>

<p>“Requires all proposed amendments or revisions to the state constitution to be approved by the voters in two elections, instead of one, in order to take effect. The proposal applies the current thresholds for passage to each of the two elections.</p>

<p>It is probable that the proposed amendment will result in additional state and local government costs to conduct elections in Florida. Overall, these costs will vary from election cycle to election cycle depending on the unique circumstances of each ballot and cannot be estimated at this time. The key factors determining cost include the number of amendments appears for the second time on each ballot and the length of those amendments. Since the maximum state cost is likely less than $1 million per cycle but the impact cannot be discretely quantified, the change to the state’s budget is unknown. Similarly, the economic impact cannot be modelled, although the spending increase is expected to be below the threshold that would produce a statewide economic impact. Because there are no revenues linked to voting in Florida, there will be no impact on government taxes or fees.</p>

<p>THE FINANCIAL IMPACT OF THIS AMENDMENT CANNOT BE DETERMINED DUE TO AMBIGUITIES AND UNCERTAINTIES SURROUNDING THE AMENDMENT’S IMPACT.”</p>

<p><strong>YES/NO</strong></p>

<ul>
	<li>A “yes” vote supports requiring voter-approved constitutional amendments to be approved by voters at a second general election to become effective.</li>
	<li>A “no” vote opposes requiring voter-approved constitutional amendments to be approved by voters at a second general election to become effective.</li>
</ul>

<p>A 60% favorable vote is required for approval.</p>

<p><button class="myBtn_multi">More Information</button></p>

<div class="modal modal_multi">
<div class="modal-content"><span class="close close_multi">×</span>

<p>&nbsp;</p>

<p><strong>Helpful Information</strong></p>

<p>According to Ballotpedia.org, “A total of 18 states have a process for citizen-initiated constitutional amendments. In 15 of those states, including Florida, citizens collect signatures for an initiative petition, and if the petition meets all requirements and is certified, it will appear on the ballot for a statewide vote. If voters approve the amendment, it becomes part of the constitution. In Florida, constitutional amendments require a 60% supermajority vote to become effective. This requirement was added to the constitution in 2006. Colorado is the only other state that requires a supermajority vote to pass initiated constitutional amendments. The state (Colorado) requires a 55% supermajority vote… Nevada is the only state where (citizen) initiated constitutional amendments must be approved at two consecutive elections.”</p>

<p>Since the Florida Constitution was adopted in 1968 there have been 140 amendments (including both citizen-initiated and legislative-initiated proposals). Among those 18 states with a process for citizen-initiated constitutional amendments, Florida featured the most proposed constitutional amendments on the ballot from 2006 through 2019, with a total of 50 – 33 were approved by voters. When states without citizen-initiated processes are included, Florida had the fourth most approved constitutional amendments in the same period (Louisiana-71, Texas-68, Alabama-44, Florida-33, Oklahoma-28).</p>

<p>As it stands, citizen-initiated constitutional amendments in Florida require a petition of equal in number to at least 8% of the votes cast in Florida in the preceding presidential election. Further, this 8% must be comprised of at least 8% of the district-wide vote in at least 14 of the 27 state congressional districts (meaning the 8% cannot come from one heavily populated area). For 2020, citizen-initiated constitutional amendments required 766,200 signatures. Each signature is required to be verified as a Florida registered voter to be counted.</p>

<p><strong>Support/Opposition</strong></p>

<p>According to Ballotpedia.com, the ballot initiative is <strong>supported</strong> by Keep Our Constitution Clean PC. In an argument of support Keep Our Constitution Clean PC stated, “Our goal is to ensure that voters are given the opportunity to fully understand the immediate and future impacts of any proposed changes to our state constitution.”</p>

<p>The initiative is <strong>opposed</strong> by the League of Women Voters of Florida. In a statement of opposition, Ellen Freidin of Fair Districts Florida stated, “We cannot let our guard down and allow the powerful to indulge their worst tendencies to grab all the control for themselves. Florida voters should see Number 4 for what it is, a shameless effort to take away the people’s control over what goes into our constitution. We simply cannot give up our most effective tool for change.” The Orlando Sentinel Editorial Board clarified, “If No. 4 passes, back-to-back campaigns would become far too expensive for grass-roots organizations that want to change the constitution, while the opponents would get an automatic do-over.”</p>
</div>
</div>
</div>

<p>&nbsp;</p>

<div id="ballot6">
<h4>No. 6 Constitutional Amendment, Article VII, Section 6 and Article XII</h4>

<p><em>Ad Valorem Tax Discount for Spouses of Certain Deceased Veterans Who Had Permanent, Combat-Related Disabilities</em></p>

<p>“Provides that the homestead property tax discount for certain veterans with permanent combat-related disabilities carries over to such veteran’s surviving spouse who holds legal or beneficial title to, and who permanently resides on, the homestead property, until he or she remarries or sells or otherwise disposes of the property. The discount may be transferred to a new homestead property of the surviving spouse under certain conditions. The amendment takes effect January 1, 2021.”</p>

<p><strong>YES/NO</strong></p>

<ul>
	<li>A “yes” vote supports allowing a homestead property tax discount to be transferred to the surviving spouse of a deceased veteran.</li>
	<li>A “no” vote opposes allowing a homestead property tax discount to be transferred to the surviving spouse of a deceased veteran.</li>
</ul>

<p>A 60% favorable vote is required for approval.</p>

<p><button class="myBtn_multi">More Information</button>&nbsp;</p>

<div class="modal modal_multi">
<div class="modal-content"><span class="close close_multi">×</span>

<p>&nbsp;</p>

<p><strong>Helpful Information</strong></p>

<p>In 2006 Florida voters approved Amendment 7, which allowed disabled veterans 65 years or older to take a discount on their homestead property tax equal in proportion to the amount of disability (as determined by the U.S. Department of Veterans Affairs). In 2010, Florida voters extended homestead tax discounts to active military personnel by approving Amendment 2, which provided the discount in proportion to the time served on active duty outside of the U.S. In 2012, Florida voters extended the homestead tax discount again, this time to all combat-disabled veterans currently living in Florida, whether they were residents prior to their service or not. Homestead tax exemptions have been amended a total of 12 times since 1980.</p>

<p>Currently, the homestead property tax discount for veterans expires upon their death and is not extended to their spouses. This means that homestead taxes increase for the surviving spouse of deceased veterans who had made use of the homestead property tax discount.</p>

<p><strong>Support/Opposition</strong></p>

<p>The amendment was legislatively initiated, with <strong>sponsorship</strong> by Florida Representative Sam Killebrew (R) before being unanimously passed in both chambers of the Florida legislature.</p>

<p>The League of Women Voters of Florida stated their <strong>opposition</strong>, “[Amendment 6 would] reduce property tax revenue available for funding local schools and other services like police, fire, and infrastructure; add tax law to the Florida Constitution making it difficult to alter in response to change or emergency economic conditions; and limit the ability of local governments to control their budgets based on their county needs.”</p>
</div>
</div>
</div>
<script>
        var modalparent = document.getElementsByClassName("modal_multi");

        // Get the button that opens the modal

        var modal_btn_multi = document.getElementsByClassName("myBtn_multi");

        // Get the <span> element that closes the modal
        var span_close_multi = document.getElementsByClassName("close_multi");

        // When the user clicks the button, open the modal
        function setDataIndex() {

            for (i = 0; i < modal_btn_multi.length; i++)
            {
                modal_btn_multi[i].setAttribute('data-index', i);
                modalparent[i].setAttribute('data-index', i);
                span_close_multi[i].setAttribute('data-index', i);
            }
        }



        for (i = 0; i < modal_btn_multi.length; i++)
        {
            modal_btn_multi[i].onclick = function() {
                var ElementIndex = this.getAttribute('data-index');
                modalparent[ElementIndex].style.display = "block";
            };

            // When the user clicks on <span> (x), close the modal
            span_close_multi[i].onclick = function() {
                var ElementIndex = this.getAttribute('data-index');
                modalparent[ElementIndex].style.display = "none";
            };

        }

        window.onload = function() {

            setDataIndex();
        };

        window.onclick = function(event) {
            if (event.target === modalparent[event.target.getAttribute('data-index')]) {
                modalparent[event.target.getAttribute('data-index')].style.display = "none";
            }

            // OLD CODE
            if (event.target === modal) {
                modal.style.display = "none";
            }
        };
     </script></div>
</div>
